
@import url("https://thomasbonsirven.github.io/Discord-Theming/Discord/Modules/Required/required.css");
.children-19S4PO {
    margin-left: 30%;
}

.sidebar-2K8pFh:after {
    content: "Channels";
    position: absolute;
    left: 17%;
    color: white;
    z-index: 999;
    padding: 15px;
    top:0;
    transition:all .6s 1.2s;
}
.sidebar-2K8pFh:hover:after {
    padding-bottom:80px;
    top:-80px;
    transition:all .6s .3s;
}

.sidebar-2K8pFh:hover {
    width: 240px;
    transition: width .4s .1s, height .4s .5s;
    height: 100%;
}

.sidebar-2K8pFh {
    width: 0;
    transition: width .4s 1.2s, height .4s .8s;
	height: 0;
}



