.sidebar-2K8pFh:hover {
    max-width: 240px;
    transition: max-width .5s, height .75s .45s, opacity .75s .5s;
    height: 100%;
    opacity: 1;
}

.platform-win .sidebar-2K8pFh {
    border-radius: 8px 0 0;
    overflow: hidden;
    height: 0px;
    opacity: 0;
    transition: max-width 1s .5s, height .75s, opacity 1s;
}